/* -----------------------------------------------
 * Feature styles
 * --------------------------------------------- */
.features-list {
    li {
    margin: 15px 0;
    }
}

 .features-item {
    margin: 0 0 20px 0;
    max-height: 280px;
    a, a:hover {
       color: $text-color;
        text-decoration: none;
    }
    .features-icon {
        margin: 20px 0;
        padding: 40px;
        background-color: $well-bg;
        text-align: center;
        color: $brand-primary;
        box-shadow: 0 1px 2px 0 rgba(136,144,195,0.2), 0 2px 5px 0 rgba(37,44,97,0.15);
        .material-icons {
            font-size: 60px;
        }
    }
}

.features-details {
    .features-icon {
        margin: 40px 0;
        padding: 60px;
        background-color: $well-bg;
        text-align: center;
        color: $brand-primary;
        box-shadow: 0 1px 2px 0 rgba(136,144,195,0.2), 0 2px 5px 0 rgba(37,44,97,0.15);
        .material-icons {
            font-size: 100px;
        }
    }
}
