---
---
// add bootstrap variable settings here

@import 'bootstrap';
@import 'bootswatch';
@import 'bootstrap-custom';
@import 'utility-classes';
//@import 'focal-point';
@import 'ouibounce';
// add more css stuff here
body {
  font-size: 15px;
  font-weight: 300;
}

body article.post {
  font-size: 18px;
}
body .post-preview {
  font-size: 18px;
}
section:first-child .container {
  padding-top:40px;
}
.post-preview a:hover {
  text-decoration: none;
}
.bold {
	font-weight: bold;
}
.fw-300 {
  font-weight: 300;
}
.border-right {
	border-right:solid 1px #eee;
}
.btn-inverse {
  border: 2px solid #1D93F0;
}
a:hover, a:focus {
	color: $brand-primary;
}

.panel-body {
  padding: 0 15px 15px 15px;
}
h5.media-heading {
	font-size: 16px;
}
// Section Background Styles

.bg-light-grey {
	background-color: #eee;
}

.btn-xl {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
  }

ul.lead {
  font-size: 18px;
  line-height: 40px;
}
ul.lead i {
    margin-right: 10px;
}

// Icon Styles

.md-6x {
	font-size: 6em;
}

// Navbar Styles
.navbar {
	margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
}
.navbar-nav > li.active > a {
	background: none repeat scroll 0 0 rgba(0,0,0,0);
  	box-shadow: 0 -3px 0 0 $brand-primary inset;
}

.navbar-nav > li > a:hover {
	background: none repeat scroll 0 0 rgba(0,0,0,0);
  	box-shadow: 0 -3px 0 0 $brand-primary inset;
}

.navbar-nav > li > a {
	text-transform: uppercase;
	color: $text-color;
}

.navbar-brand {
	color: $headings-color;
	width: 80px;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: $brand-primary;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-brand {
	padding: 10px 15px;
}

.navbar-brand > img {
  width: 150px;
  margin-right: 10px;
  margin-top: 10px;
}
.navbar-brand > p > span {
	color: $brand-primary;
}

.img-profile-avatar {
	margin-top: -5px;
}

.navbar.sub-nav {
	min-height: 32px;
	border-top: 1px solid #eee;
}
.sub-nav .navbar-nav > li > a{
	padding-top:5px;
	padding-bottom:5px;
}

.border-bottom-grey {
  border-bottom: 1px solid #ddd;
}

.navbar.no-border {
  -webkit-box-shadow: none;
  box-shadow: none;
}

// Integrations styles
.integration-listing-item {
    position: relative;
    float: left;
    width: 23.99%;
    margin: 0 0 10px 10px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #ededed;
    border-radius: 2px;
    -webkit-transition: border-color 0.15s ease 0s, -webkit-transform 0.15s ease 0s, box-shadow 0.15s ease 0s, color 0.15s ease 0s;
    transition: border-color 0.15s ease 0s, transform 0.15s ease 0s, box-shadow 0.15s ease 0s, color 0.15s ease 0s;
}
.integration-listing-item:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.integration-listing-item-link {
  display: block;
  height: 200px;
  padding-top: 30px;
}
.integration-listing-item-link:hover {
  text-decoration: none;
}
.integration-listing-item .integration-grid-img {
  width: 80px;
  display: block;
  margin: 0 auto 10px;
}
.integration-listing-item-header {
    margin: 15px 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: #444;
}
.integration-listing-item-excerpt {
  position: relative;
  height: 2.8em;
  padding: 0 10px;
  margin-top: 5px;
  overflow: hidden;
  font-size: 14px;
  color: #666;
}
// Form Styles

/* --- material floating label --- */

.floating-label.form-group {
    display: flex;
    height: 55px;
}

.floating-label .control-label {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 22px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
}

.floating-label.form-group.focused .control-label {
    opacity: 1;
    transform: scale(0.75);
}

.floating-label .form-control {
    align-self: flex-end;
}

.floating-label .form-control::-webkit-input-placeholder {
    color: transparent;
    transition: 240ms;
}

.floating-label .form-control:focus::-webkit-input-placeholder {
    transition: none;
}

.floating-label .form-group.focused .form-control::-webkit-input-placeholder {
    color: #bbb;
}

.floating-label.form-group.textarea-group {
  height: auto;
  min-height:110px;
}

.segment-hero {
  background: #1f2c39;
  min-height: 600px;
  background-size: cover;
  color: #ffffff !important;
}
.segment-hero h2 {
  color: #fff;
  font-weight: 300;
}

.segment-primary {
  background: #1D93F0;
}
.segment-primary p.lead, .segment-primary h3 {
  color: #ffffff !important;
}

// hompage
.hero-img-mockup {
  height: 500px;
  overflow: hidden;
}
.hero-img-mockup img {
  max-width: 740px;
  opacity: .35;
}
.hero-img-mockup img:hover {
  opacity: .9;
  transition: opacity .9s ease-in-out;
    -moz-transition: opacity .9s ease-in-out;
    -webkit-transition: opacity .9s ease-in-out;
    -o-transition: opacity .9s ease-in-out;
}
.request-button {
  margin-top: -800px;
}

//slidedown header
.slide-down-header.hidden {
  top: -150px;
}
.slide-down-header.show {
  top: 0px;
}
.slide-down-header {
  -webkit-transition: top 0.9s ease-in-out;
  -moz-transition: top 0.9s ease-in-out;
  -o-transition: top 0.9s ease-in-out;
  -ms-transition: top 0.9s ease-in-out;
  transition: top 0.9s ease-in;
}


/* -----------------------------------------------
 * Material Design Icons
 * --------------------------------------------- */
// Vertical Align Fix
.material-icons { vertical-align: middle; }

// Rules for sizing the icon.
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

// Rules for using icons as black on a light background.
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

// Rules for using icons as white on a dark background.
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
