---
---
// add bootstrap variable settings here

@import 'bootstrap';
@import 'bootswatch';
@import 'bootstrap-custom';
@import 'utility-classes';
//@import 'focal-point';
@import 'integrations-styles';
@import 'ouibounce';
// add more css stuff here
body {
  font-size: 15px;
  font-family: 'Noto Sans', sans-serif;
}

body article.post {
  font-size: 18px;
}
body .post-preview {
  font-size: 18px;
}
.w-80 {
  width: 80px;
}
.heading-hero {
  font-size: 36px;
}
.post-preview a:hover {
  text-decoration: none;
}
.bold {
	font-weight: bold;
}
.fw-300 {
  font-weight: 300;
}
.border-right {
	border-right:solid 1px #eee;
}
.btn-inverse {
  border: 2px solid #1D93F0;
}
a:hover, a:focus {
	color: $brand-primary;
}

.panel-body {
  padding: 20px;
}
h5.media-heading {
	font-size: 16px;
}

.blog-content-img {
  width: 70%;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* -----------------------------------------------
 * Section Background Styles
 * --------------------------------------------- */
.bg-primary-color {
  background-color: $brand-primary;
  color: #ffffff;
}
.bg-primary-color h1, .bg-primary-color h2, .bg-primary-color h3, .bg-primary-color h4, .bg-primary-color h5 , .bg-primary-color h6 {
  color: #ffffff;
}
.bg-primary-color a, .bg-primary-color a:hover{
  color: #ffffff;
  text-decoration: none;
}

.bg-success-color {
  background: $brand-success;
  color: #ffffff !important;
}
.bg-success-color h1, .bg-success-color h2, .bg-success-color h3, .bg-success-color h4 {
  color: #ffffff !important;
}
.bg-success-color a, .bg-success-color a:hover{
  color: #ffffff !important;
  text-decoration: none;
}

.bg-light-grey {
	background-color: #eee;
}

.btn-xl {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
  }

ul.lead {
  font-size: 18px;
  line-height: 40px;
}
ul.lead i {
    margin-right: 10px;
}
/* -----------------------------------------------
 * Button Styles
 * --------------------------------------------- */
.btn-default {
  color: $brand-primary !important;
}
/* -----------------------------------------------
 * Navbar Styles
 * --------------------------------------------- */
.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-nav > li.active > a {
  background: none repeat scroll 0 0 rgba(0,0,0,0);
    box-shadow: 0 -3px 0 0 $brand-primary inset;
}

.navbar-nav > li > a:hover {
  background: none repeat scroll 0 0 rgba(0,0,0,0);
    box-shadow: 0 -3px 0 0 $brand-primary inset;
}

.navbar-nav > li > a {
  text-transform: uppercase;
  color: $text-color;
}

.navbar-brand {
  color: $headings-color;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: $brand-primary;
}

.navbar-toggle {
  background-color: $brand-primary;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-brand {
  padding: 10px 15px;
}

.navbar-brand > img {
  width: 150px;
  margin-right: 10px;
  margin-top: 10px;
}
.navbar-brand > p > span {
  color: $brand-primary;
}

.img-profile-avatar {
  margin-top: -5px;
}

.navbar.sub-nav {
  min-height: 32px;
  border-top: 1px solid #eee;
}
.sub-nav .navbar-nav > li > a{
  padding-top:5px;
  padding-bottom:5px;
}

.border-bottom-grey {
  border-bottom: 1px solid #ddd;
}

.navbar.no-border {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* -----------------------------------------------
 * Hero Styles
 * --------------------------------------------- */
.hero {
  background: $brand-primary url('/images/skin/bg_banner-min.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: 850px;
}

.hero nav {
  background: rgba(0, 156, 255, 0.53);
  border-bottom: 1px solid rgba(16, 125, 213, 0.77);
}
.hero .navbar-nav>li>a:hover {
    background: none repeat scroll 0 0 transparent;
    box-shadow: 0 -1px 0 0 #fff inset;
}
.hero p {
  font-size: 16px;
}
.hero .navbar-nav > li > a {
  text-transform: uppercase;
  color: #fff;
}
/* -----------------------------------------------
 * Footer Styles
 * --------------------------------------------- */
.footer-link-list {
  font-size: 14px;
}
.footer-link-list a {
  color: #999;
}

.license-terms {
  font-size: 14px;
  font-weight: 300;
}
// Pricing Styles
.price {
  color: #444;
}
.price > .dollar {
  font-size: 2em;
  line-height: 1em;
  font-weight: 300;
  position: absolute;
  top: 40px;
}
.price > .cent {
  font-size: 2em;
  line-height: 1em;
  font-weight: 300;
}
.price > .figure {
  font-size: 96px;
  font-weight: 400;
  padding: 0 0 0 14px;
  font-weight: 500;
}
.price > .month {
  font-size: 2em;
}

.price-plus {
  font-size: 3em;
  line-height: 1em;
  font-weight: 300;
  position: absolute;
  top: 65px;
  right: -25px;
  color: #444;
}

// Form Styles

/* --- material floating label --- */

.floating-label.form-group {
    display: flex;
    height: 55px;
}

.floating-label .control-label {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 22px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
}

.floating-label.form-group.focused .control-label {
    opacity: 1;
    transform: scale(0.75);
}

.floating-label .form-control {
    align-self: flex-end;
}

.floating-label .form-control::-webkit-input-placeholder {
    color: transparent;
    transition: 240ms;
}

.floating-label .form-control:focus::-webkit-input-placeholder {
    transition: none;
}

.floating-label .form-group.focused .form-control::-webkit-input-placeholder {
    color: #bbb;
}

.floating-label.form-group.textarea-group {
  height: auto;
  min-height:110px;
}

.segment-hero {
  background: #1f2c39;
  min-height: 600px;
  background-size: cover;
  color: #ffffff !important;
}
.segment-hero h2 {
  color: #fff;
  font-weight: 300;
}

.segment-primary {
  background: #1D93F0;
}
.segment-primary p.lead, .segment-primary h3 {
  color: #ffffff !important;
}

// hompage
.hero-img-mockup {
  height: 500px;
  overflow: hidden;
}
.hero-img-mockup img {
  max-width: 740px;
  opacity: .35;
}
.hero-img-mockup img:hover {
  opacity: .9;
  transition: opacity .9s ease-in-out;
    -moz-transition: opacity .9s ease-in-out;
    -webkit-transition: opacity .9s ease-in-out;
    -o-transition: opacity .9s ease-in-out;
}

//slidedown header
.slide-down-header.hidden {
  top: -150px;
}
.slide-down-header.show {
  top: 0px;
}
.slide-down-header {
  -webkit-transition: top 0.9s ease-in-out;
  -moz-transition: top 0.9s ease-in-out;
  -o-transition: top 0.9s ease-in-out;
  -ms-transition: top 0.9s ease-in-out;
  transition: top 0.9s ease-in;
}


/* -----------------------------------------------
 * Material Design Icons
 * --------------------------------------------- */
.md-6x {
  font-size: 6em;
}
// Vertical Align Fix
.material-icons { vertical-align: middle; }

// Rules for sizing the icon.
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

// Rules for using icons as black on a light background.
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

// Rules for using icons as white on a dark background.
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
