---
layout: base
title: 'Archive'
---
{% include header-no-nav.html %}
<div class="content">
<section>
  <div class="container">
  	<div class="row">
  		<div class="col-md-8 col-md-offset-2">
  			{% for post in site.posts %}
  			{% assign author = site.authors[post.author] %}
			 <div class="post-preview">
			 	<a href="{{ post.url}}">
			 		<img src="{{ post.image }}" class="img-responsive" />
			 		<h3 class="bold">{{ post.title }}</h3>
			 	</a>	
			 		<p><small class="text-muted">{{ post.date | date_to_string }}</small> by <img src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=40" class="img-circle"> {{ author.display_name }}</p>
		          	<p>{{ post.excerpt }}<a href="{{ post.url }}">Read more...</a></p>
			 </div>
			 <hr>
			{% endfor %}
  		</div>
  	</div>
</div>
</section>  
</div>
{% include footer.html %}
{% include javascript.html %}
</body>
</html>