---
layout: base
title: 'Archive'
---
{% include header.html %}
<div class="content">
<section>
  <div class="container">
  	<div class="row">
  		<div class="col-md-8 col-md-offset-2">
  			{% for post in site.posts %}
  			{% assign author = site.authors[post.author] %}
			 <div class="post-preview">
			 	<a href="{{ post.url}}">
			 		<img src="{{ post.image }}" class="img-responsive" />
			 		<h3 class="bold">{{ post.title }}</h3>
			 	</a>	
			 		<p><small class="text-muted"></small><img src="//www.gravatar.com/avatar/{{ author.gravatar }}?s=40" class="img-circle"> {{ author.display_name }} on {{ post.date | date: '%B %d, %Y' }}, {{ post.category }}</p>
		          	<p>{{ post.excerpt }}</p>
		          	<p><a href="{{ post.url }}" class="btn btn-inverse">Read More</a></p>
			 </div>
			 <hr>
			{% endfor %}
  		</div>
  	</div>
</div>
</section>
</div>
{% include footer.html %}
{% include javascript.html %}
</body>
</html>