---
title: Blog
layout: base
---

{% include header.html %}
<div class="content">
<section>
  <div class="container">
  	<div class="row">
  		<div class="col-md-8 col-md-offset-2 m-t-30">
  			{% for post in site.posts %}
  			{% assign author = site.authors[post.author] %}
			 <div class="post-preview">
			 	<a href="{{ post.url}}">
			 		<h3 class="bold">{{ post.title }}</h3>
			 	</a>
	          	<p>{{ post.excerpt }}</p>
	          	<p><a href="{{ post.url }}" class="btn btn-inverse">Read More</a></p>
			 </div>
			 <hr>
			{% endfor %}
  		</div>
  	</div>
</div>
</section>
</div>
{% include footer.html %}
{% include javascript.html %}
</body>
</html>
