---
layout: base
title:  'Call Tracking, Phone Call Analytics by Call Tracker '
sitemap: false
---
{% include header-end-user.html %}
<div class="content bg-light-grey">
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="panel">
          <div class="panel-heading">
            <h5>Call Details</h5>
          </div>
					<div class="panel-body">
							<div class="row">
                <div class="col-md-12">
                <table border="0" width="" class="table table-hover table-condensed lead-details">
                          <tr>
                            <td>Name </td>
                            <td>Jennifer Rizzi</td>
                          </tr>
                          <tr>
                            <td>Phone Number</td>
                            <td>877-786-2094</td>
                          </tr>
                          <tr>
                            <td>Date</td>
                            <td>Mar 03, 2015 at 4:59 PM EST</td>
                          </tr>
                          <tr>
                            <td>Durination</td>
                            <td>2m 37s</td>
                          </tr>
                          <tr>
                            <td>Tracking Number</td>
                            <td>Keywords Tracker</td>
                          </tr>
                          <tr>
                            <td>Source Refferer</td>
                            <td>www.google.com</td>
                          </tr>
                          <tr>
                            <td>Source Channel</td>
                            <td>Orgainc</td>
                          </tr>
                          <tr>
                            <td>Source Keyword</td>
                            <td>msp website developer</td>
                          </tr>
                          <tr>
                            <td>Landing Page</td>
                            <td>www.prontomarketing.com/imp-report</td>
                          </tr>
                          <tr>
                            <td>Total Calls</td>
                            <td>3</td>
                          </tr>
                          <tr>
                            <td>First Call</td>
                            <td>Feb 21, 2015 at 4:59 PM EST</td>
                          </tr>
                          <tr>
                            <td>Previous Call</td>
                            <td>Feb 28, 2015 at 4:59 PM EST</td>
                          </tr>
                          <tr>
                            <td>Location</td>
                            <td>New York, New York</td>
                          </tr>
                        </table>
                  </div>
              </div>
				</div>
			</div>
		
		</div>
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-heading">
          <a href="#" class="btn btn-sm btn-primary pull-right">Download MP3</a>
          <h5>Call Recording</h5>
          </div>
          <div class="panel-body">
            <audio class="progression-audio-player progression-skin progression-minimal-light" controls="controls" preload="none" src="http://prontodev.github.io/pronto-dashboard/assets/audio/RE52846612d921b85e7ded4a7638102c12.mp3" type="audio/mp3">
          </div>
        </div>
        <div class="panel">
        <div class="panel-heading">
          <h5>Call Notes</h5>
          </div>
          <div class="panel-body">
                        <ul class="media-list">
                            <li class="media">
                              <a class="pull-left" href="#">
                                <img class="media-object img-circle" src="images/app/128.jpg" alt="..." width="35px">
                              </a>
                              <div class="media-body">
                                <a href="#" class="delete-link text-danger pull-right">Delete</a>
                                <h5 class="media-heading">Ben Riding <small>August 21, 2014</small></h5>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                              </div>
                            </li>
                            <li class="media">
                              <a class="pull-left" href="#">
                                <img class="media-object img-circle" src="images/app/128.jpg" alt="..." width="35px">
                              </a>
                              <div class="media-body">
                                <a href="#" class="delete-link text-danger pull-right">Delete</a>
                                <h5 class="media-heading">John Brown <small>February 10, 2014</small></h5>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                              </div>
                            </li>
                            <li class="media">
                              <a class="pull-left" href="#">
                                <img class="media-object img-circle" src="images/app/128.jpg" alt="..." width="35px">
                              </a>
                              <div class="media-body">
                                <a href="#" class="delete-link text-danger pull-right">Delete</a>
                                <h5 class="media-heading">Alex Phelps <small>February 07, 2014</small></h5>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                              </div>
                            </li>
                          </ul>
                          <hr>
                          <p>Add New Note</p>
                          <textarea class="form-control" rows="3"></textarea>
                          <a href="#" class="btn btn-block btn-primary m-t-10">Add Note</a>
                      </div>
        </div>
    </div>
	</div>
</section>
</div>
{% include footer.html %}
{% include javascript.html %}
{% include chart-colors.html %}
<script type="text/javascript">
var chart = c3.generate({
        bindto: '#callsovertime',
        data: {
            type: 'bar',
              colors: {
                NoData: '#ececec',
            },
            names: {
              NoData: 'No Data',
            },
            groups: [
                ['Keyword Tracker','Direct Mail', 'Facebook','Organic','Adwords']
            ],
            x: 'Day',
            xFormat: '%Y-%m-%d',
             columns: [
                ["Day","2015-01-15","2015-01-16","2015-01-17","2015-01-18","2015-01-19","2015-01-20","2015-01-21","2015-01-22","2015-01-23","2015-01-24","2015-01-25","2015-01-26","2015-01-27","2015-01-28","2015-01-29","2015-01-30","2015-01-31","2015-02-01","2015-02-02","2015-02-03","2015-02-04","2015-02-05","2015-02-06","2015-02-07","2015-02-08","2015-02-09","2015-02-10","2015-02-11","2015-02-12","2015-02-13"],
                ["Keyword Tracker",1,4,0,1,1,8,10,24,12,10,8,15,20,10,13,10,0,4,17,9,15,16,3,3,5,12,10,9,4,4],
                ["Direct Mail",0,3,0,2,1,5,1,0,3,0,2,1,0,1,0,0,2,0,0,3,0,5,2,1,0,0,1,2,8,3],
                ["Facebook",1,4,1,2,1,4,1,6,3,0,1,1,0,1,0,4,2,0,0,3,1,5,1,1,0,0,1,2,5,3],
                ["Organic",7,3,1,4,2,5,3,3,1,3,3,4,7,3,1,4,2,5,3,7,3,1,4,2,5,3,3,1,3,3],
                ["Adwords",7,3,1,4,2,5,3,3,1,3,3,4,7,3,1,4,2,5,3,7,3,1,4,2,5,3,3,1,3,7],
              //  ['Referral',2,1,2,2,1,1,2,3,5,9,7,6],
              //  ['Email',1,5,2,4,5,4,4,6,4,2,5,2],
              //  ['Paid Search',4,2,2,2,1,5,4,3,2,0,2,7],
               // ['Other',4,6,5,4,1,7,4,5,9,5,2,2],
              //  ['NoData',4,6,5,4,1,7,4,5,9,5,2,2],
             ],
             order: null
        },
        legend: {
          position: 'bottom',
        //  hide: true,
        },
        color: {
          pattern: calltracker_charts_style
      	},
        size: {
          height: 320
        },
        axis: {
            x: {
                type: 'timeseries',
                tick: {
                    format: "%B %d, %Y"
                },
            },
            y: {
             // max: 100,
              min: 0,
              padding: {
                top: 5,
                bottom: 0
              }
            }
        },
        tooltip: {
          contents: function(d, defaultTitleFormat, defaultValueFormat, color) {
            var defaultTitleFormat = d3.time.format("%B %d, %Y");
            var defaultValueFormat = d3.format(',');
            var out, row, total, x, _i, _len;
            total = 0;
            x = d[0].x;
            out = '<table class="c3-tooltip"><tbody><tr><th colspan="2">' + defaultTitleFormat(x) + '</th></tr>';
            for (_i = 0, _len = d.length; _i < _len; _i++) {
              row = d[_i];
              total += row.value;
              out += '<tr class="c3-tooltip-name-' + row.id + '"><td class="name">';
              out += '<span style="background-color:' + color(row.id) + '"></span>' + row.name + '</td>';
              out += '<td class="value">' + defaultValueFormat(row.value) + '</td></tr>';
            }
            out += '<tr class="c3-tooltip-name-total"><td class="name"><strong>Total</strong></td>';
            out += '<td class="value"><strong>' + defaultValueFormat(total) + '</strong></td></tr>';
            out += '</tbody></table>';
            return out;
          },
        },
    });
</script>
<script type="text/javascript">
$(document).ready(function(){
                //Basic Example
$('#all-calls').DataTable({
	"dom": 'lCfrtip',
	"order": [],
	"colVis": {
		"buttonText": "Columns",
		"overlayFade": 0,
		"align": "right"
	},
	"language": {
		"lengthMenu": '_MENU_ entries per page',
		"search": '<i class="md md-search"></i> ',
		"paginate": {
			"previous": '<i class="md md-keyboard-arrow-left"></i>',
			"next": '<i class="md md-keyboard-arrow-right"></i>'
		}
	}
});
});


</script>
</body>
</html>