---
layout: base
title:  'Contact Us'
---
{% include header.html %}
<div class="content">
<section>
	<div class="container">
		<div class="row m-b-40">
			<div class="col-md-12 text-center">
				<h3>Get in touch, we'd love to hear from you.</h3>
			</div>
		</div>
		<div class="row m-b-100 add-class">
			<div class="col-md-5 col-md-offset-1">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1621842.4031088885!2d-123.28053612754312!3d37.44511373883074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fbb397d8f7553%3A0xd259443f46225790!2s300+Hamilton+Ave+%231009%2C+Palo+Alto%2C+CA+94301!5e0!3m2!1sen!2sus!4v1456430289598" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
				<div itemscope itemtype="http://schema.org/LocalBusiness">
				  <h5><span itemprop="name">Call Tracker</span></h5>
				  <span itemprop="description"></span>
				  <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				    <span itemprop="streetAddress">300 Hamilton Avenue Suite 400,<br>Unit #1009</span>
				    <br>
				    <span itemprop="addressLocality">Palo Alto</span>,
				    <span itemprop="addressRegion">CA</span>
				    <span itemprop="postalCode">94301</span>
				  </div>
				  <strong>Phone: </strong><span itemprop="telephone">270-281-0848</span>
				  <br>
				  <strong>Email: </strong><span itemprop="email"><a href="mailto:sales@calltracker.io">sales@calltracker.io</a></span>
				</div>
			</div>
			<div class="col-md-5">
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>Send Us a Message</h4>
						<form action="https://service.capsulecrm.com/service/newlead" method="post">
							<input type="hidden" name="FORM_ID" value="c346117b-a5d6-4a37-8b14-c4d2a60774ea">
							<input type="hidden" name="COMPLETE_URL" value="{{site.url}}/thank-you/">
							<input type="hidden" name="TAG" value="website">
							<div class="form-group floating-label">
						        <label class="control-label" for="fieldName">Name</label><br />
					  			<input class="form-control" type="text" name="PERSON_NAME" required/>
					  		</div>
					  		<div class="form-group floating-label">
					  			<label class="control-label" for="fieldEmail">Email</label><br />
						  		<input class="form-control" type="email" name="EMAIL" required />
						  	</div>
						  	<div class="form-group floating-label">
						        <label class="control-label" for="fieldCompany">Company</label><br />
					  			<input class="form-control" type="text" name="ORGANISATION_NAME" required />
					  		</div>
					  		
						  	<div class="form-group textarea-group floating-label">
						  		<label class="control-label" for="fieldCompany">How can we help?</label><br />
						  		<textarea cols="40" rows="3" class="form-control" id="textArea" name="message"></textarea>
						  	</div>
							<input class="btn btn-primary btn-block" type='submit' value='Get in Touch' />
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</div>
{% include footer.html %}
{% include javascript.html %}
</body>
</html>