---
layout: base
title:  'Call Tracking, Phone Call Analytics by Call Tracker '
sitemap: false
---
{% include header-end-user.html %}
<div class="content">
	<div class="container">
		<!--<div class="row">
			<div class="col-md-12">
        <div class="row">
          <div class="col-md-4 col-sm-4 text-center border-right">
            <h5>Calls per Day</h5>
            <p class="lead">29</p>
          </div>
          <div class="col-md-4 col-sm-4 text-center border-right">
            <h5>Total Calls</h5>
            <p class="lead">389</p>
          </div>
          <div class="col-md-4 col-sm-4 text-center">
            <h5>Top Call Tracker</h5>
            <p class="lead">Adwords Campaign</p>
          </div>
        </div>
      </div>
    </div>-->
    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs border-bottom-grey" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">John's Computer's</a></li>
          <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Tracking Numbers</a></li>
          <li class="pull-right" role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
        </ul>
      </div>
    </div>
    <div class="row m-t-20">
      <div class="col-md-8">  
        <h5 class="chart-title">Calls Over Time</h5>
        <div id="callsovertime"></div>
      </div>
      <div class="col-md-4">  
        <h5 class="chart-title">Call Answer Rate</h5>
        <div id="donutcallstatus"></div>
      </div>
    </div>
      <div class="row">
        <div class="col-md-12">
          <hr>
          <table class="table table-hover table-condensed" id="all-calls" width="100%">
              <thead>
                  <tr>
                      <th>
                        
                      </th>
                      <th >
                         Caller Name
                      </th>
                      <th>
                        Phone Number
                      </th>
                      <th>
                          Tracking Number
                      </th>
                      <th>
                          Date
                      </th>
                      <th>
                          City
                      </th>
                      <th>
                        Duration
                      </th>
                      <th>
                          Details
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <!-- row -->
                  <tr class="first">
                    <td>
                      <span class="info-bubble info-bubble-small" title="Recieved Call" placement="top"><i class="md-call-received text-success bold fa-lg"></i></span>
                    </td>
                    <td>
                      <a href="call-details.html">John Doe</a>
                    </td>
                      <td>
                        877-786-2094
                      </td>
                      <td>
                          Keyword Tracker
                      </td>
                      <td>
                          3/15/2014 12:57 PM
                      </td>
                      <td>
                          Walnut Creek, CA
                      </td>
                      <td>
                        2m 28s
                      </td>
                      <td>
                          <a href="call-details.html" class="btn btn-xs btn-primary">Details</a>
                      </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="info-bubble info-bubble-small" title="Abandoned Call" placement="top"><i class="md-call-received bold fa-lg"></i></span>
                    </td>
                    <td>
                      <a href="pronto-insights-leads-details-r2.html">Jane Doe</a>
                    </td>
                      <td>
                        877-786-2094
                      </td>
                      <td>
                          Direct Mail Promotion
                      </td>
                      <td>
                          3/15/2014 12:57 PM
                      </td>
                      <td>
                          Walnut Creek, CA
                      </td>
                      <td>
                        1m 48s
                      </td>
                      <td>
                          <a href="call-details.html" class="btn btn-xs btn-primary">Details</a>
                      </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="info-bubble info-bubble-small" title="Recieved Call" placement="top"><i class="md-call-received text-success bold fa-lg"></i></span>
                    </td>
                    <td>
                      <a href="call-details.html">Jennifer Gizzi</a>
                    </td>
                      <td>
                        877-786-2094
                      </td>
                      <td>
                          Facebook Advert
                      </td>
                      <td>
                          3/15/2014 12:57 PM
                      </td>
                      <td>
                          San Diego, CA
                      </td>
                      <td>
                        3m 58s
                      </td>
                      <td>
                        <a href="call-details.html" class="btn btn-xs btn-primary">Details</a>
                      </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="info-bubble info-bubble-small" title="Recieved Call" placement="top"><i class="md-call-received text-success bold fa-lg"></i></span>
                    </td>
                    <td>
                      <a href="call-details.html">John Doe</a>
                    </td>
                      <td>
                        877-786-2094
                      </td>
                      <td>
                          Keyword Tracker
                      </td>
                      <td>
                          3/15/2014 12:57 PM
                      </td>
                      <td>
                          Walnut Creek, CA
                      </td>
                      <td>
                        2m 28s
                      </td>
                      <td>
                        <a href="call-details.html" class="btn btn-xs btn-primary">Details</a>
                      </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="info-bubble info-bubble-small" title="Missed Call" placement="top"><i class="md-call-missed text-danger bold fa-lg"></i></span>
                    </td>
                    <td>
                      <a href="call-details.html">Jane Doe</a>
                    </td>
                      <td>
                        877-786-2094
                      </td>
                      <td>
                          Keyword Tracker
                      </td>
                      <td>
                          3/15/2014 12:57 PM
                      </td>
                      <td>
                          Walnut Creek, CA
                      </td>
                      <td>
                        1m 48s
                      </td>
                      <td>
                          <a href="call-details.html" class="btn btn-xs btn-primary">Details</a>
                      </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="info-bubble info-bubble-small" title="Recieved Call" placement="top"><i class="md-call-received text-success bold fa-lg"></i></span>
                    </td>
                    <td>
                      <a href="call-details.html">Jennifer Gizzi</a>
                    </td>
                      <td>
                        877-786-2094
                      </td>
                      <td>
                          Direct
                      </td>
                      <td>
                          3/15/2014 12:57 PM
                      </td>
                      <td>
                          Keyword Tracker
                      </td>
                      <td>
                        3m 58s
                      </td>
                      <td>
                          <a href="call-details.html" class="btn btn-xs btn-primary">Details</a>
                      </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="info-bubble info-bubble-small" title="Recieved Call" placement="top"><i class="md-call-received text-success bold fa-lg"></i></span>
                    </td>
                    <td>
                      <a href="call-details.html">John Doe</a>
                    </td>
                      <td>
                        877-786-2094
                      </td>
                      <td>
                          Keyword Tracker
                      </td>
                      <td>
                          3/15/2014 12:57 PM
                      </td>
                      <td>
                          Walnut Creek, CA
                      </td>
                      <td>
                        2m 28s
                      </td>
                      <td>
                          <a href="call-details.html" class="btn btn-xs btn-primary">Details</a>
                      </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="info-bubble info-bubble-small" title="Abandoned Call" placement="top"><i class="md-call-received bold fa-lg"></i></span>
                    </td>
                    <td>
                      <a href="pronto-insights-leads-details-r2.html">Jane Doe</a>
                    </td>
                      <td>
                        877-786-2094
                      </td>
                      <td>
                          Direct Mail Promotion
                      </td>
                      <td>
                          3/15/2014 12:57 PM
                      </td>
                      <td>
                          Walnut Creek, CA
                      </td>
                      <td>
                        1m 48s
                      </td>
                      <td>
                          <a href="call-details.html" class="btn btn-xs btn-primary">Details</a>
                      </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="info-bubble info-bubble-small" title="Recieved Call" placement="top"><i class="md-call-received text-success bold fa-lg"></i></span>
                    </td>
                    <td>
                      <a href="call-details.html">Jennifer Gizzi</a>
                    </td>
                      <td>
                        877-786-2094
                      </td>
                      <td>
                          Facebook Advert
                      </td>
                      <td>
                          3/15/2014 12:57 PM
                      </td>
                      <td>
                          San Diego, CA
                      </td>
                      <td>
                        3m 58s
                      </td>
                      <td>
                        <a href="call-details.html" class="btn btn-xs btn-primary">Details</a>
                      </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="info-bubble info-bubble-small" title="Recieved Call" placement="top"><i class="md-call-received text-success bold fa-lg"></i></span>
                    </td>
                    <td>
                      <a href="call-details.html">John Doe</a>
                    </td>
                      <td>
                        877-786-2094
                      </td>
                      <td>
                          Keyword Tracker
                      </td>
                      <td>
                          3/15/2014 12:57 PM
                      </td>
                      <td>
                          Walnut Creek, CA
                      </td>
                      <td>
                        2m 28s
                      </td>
                      <td>
                        <a href="call-details.html" class="btn btn-xs btn-primary">Details</a>
                      </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="info-bubble info-bubble-small" title="Missed Call" placement="top"><i class="md-call-missed text-danger bold fa-lg"></i></span>
                    </td>
                    <td>
                      <a href="call-details.html">Jane Doe</a>
                    </td>
                      <td>
                        877-786-2094
                      </td>
                      <td>
                          Keyword Tracker
                      </td>
                      <td>
                          3/15/2014 12:57 PM
                      </td>
                      <td>
                          Walnut Creek, CA
                      </td>
                      <td>
                        1m 48s
                      </td>
                      <td>
                          <a href="call-details.html" class="btn btn-xs btn-primary">Details</a>
                      </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="info-bubble info-bubble-small" title="Recieved Call" placement="top"><i class="md-call-received text-success bold fa-lg"></i></span>
                    </td>
                    <td>
                      <a href="call-details.html">Jennifer Gizzi</a>
                    </td>
                      <td>
                        877-786-2094
                      </td>
                      <td>
                          Direct
                      </td>
                      <td>
                          3/15/2014 12:57 PM
                      </td>
                      <td>
                          Keyword Tracker
                      </td>
                      <td>
                        3m 58s
                      </td>
                      <td>
                          <a href="call-details.html" class="btn btn-xs btn-primary">Details</a>
                      </td>
                  </tr>
              </tbody>
          </table>
        </div>
      </div>
		
		</div>
	</div>
</div>
{% include javascript.html %}
{% include chart-colors.html %}
<script type="text/javascript">
var chart = c3.generate({
        bindto: '#callsovertime',
        data: {
            type: 'bar',
              colors: {
                NoData: '#ececec',
            },
            names: {
              NoData: 'No Data',
            },
            groups: [
                ['Keyword Tracker','Direct Mail', 'Facebook','Organic','Adwords']
            ],
            x: 'Day',
            xFormat: '%Y-%m-%d',
             columns: [
                ["Day","2015-01-15","2015-01-16","2015-01-17","2015-01-18","2015-01-19","2015-01-20","2015-01-21","2015-01-22","2015-01-23","2015-01-24","2015-01-25","2015-01-26","2015-01-27","2015-01-28","2015-01-29","2015-01-30","2015-01-31","2015-02-01","2015-02-02","2015-02-03","2015-02-04","2015-02-05","2015-02-06","2015-02-07","2015-02-08","2015-02-09","2015-02-10","2015-02-11","2015-02-12","2015-02-13"],
                ["Keyword Tracker",1,4,0,1,1,8,10,24,12,10,8,15,20,10,13,10,0,4,17,9,15,16,3,3,5,12,10,9,4,4],
                ["Direct Mail",0,3,0,2,1,5,1,0,3,0,2,1,0,1,0,0,2,0,0,3,0,5,2,1,0,0,1,2,8,3],
                ["Facebook",1,4,1,2,1,4,1,6,3,0,1,1,0,1,0,4,2,0,0,3,1,5,1,1,0,0,1,2,5,3],
                ["Organic",7,3,1,4,2,5,3,3,1,3,3,4,7,3,1,4,2,5,3,7,3,1,4,2,5,3,3,1,3,3],
                ["Adwords",7,3,1,4,2,5,3,3,1,3,3,4,7,3,1,4,2,5,3,7,3,1,4,2,5,3,3,1,3,7],
              //  ['Referral',2,1,2,2,1,1,2,3,5,9,7,6],
              //  ['Email',1,5,2,4,5,4,4,6,4,2,5,2],
              //  ['Paid Search',4,2,2,2,1,5,4,3,2,0,2,7],
               // ['Other',4,6,5,4,1,7,4,5,9,5,2,2],
              //  ['NoData',4,6,5,4,1,7,4,5,9,5,2,2],
             ],
             order: null
        },
        legend: {
          position: 'bottom',
        //  hide: true,
        },
        color: {
          pattern: calltracker_charts_style
      	},
        size: {
          height: 320
        },
        axis: {
            x: {
                type: 'timeseries',
                tick: {
                    format: "%B %d, %Y"
                },
            },
            y: {
             // max: 100,
              min: 0,
              padding: {
                top: 5,
                bottom: 0
              }
            }
        },
        size: {
          height: 270
        },
        tooltip: {
          contents: function(d, defaultTitleFormat, defaultValueFormat, color) {
            var defaultTitleFormat = d3.time.format("%B %d, %Y");
            var defaultValueFormat = d3.format(',');
            var out, row, total, x, _i, _len;
            total = 0;
            x = d[0].x;
            out = '<table class="c3-tooltip"><tbody><tr><th colspan="2">' + defaultTitleFormat(x) + '</th></tr>';
            for (_i = 0, _len = d.length; _i < _len; _i++) {
              row = d[_i];
              total += row.value;
              out += '<tr class="c3-tooltip-name-' + row.id + '"><td class="name">';
              out += '<span style="background-color:' + color(row.id) + '"></span>' + row.name + '</td>';
              out += '<td class="value">' + defaultValueFormat(row.value) + '</td></tr>';
            }
            out += '<tr class="c3-tooltip-name-total"><td class="name"><strong>Total</strong></td>';
            out += '<td class="value"><strong>' + defaultValueFormat(total) + '</strong></td></tr>';
            out += '</tbody></table>';
            return out;
          },
        },
    });
</script>
<script>
    (function (){  
      c3.generate({
        bindto: '#donutcallstatus',
         data: {  
          columns: [
                ['Answered',240],
                ['Missed',56],
                ['Abandoned',10],
          ],
          type : 'donut',
          colors: {
              NoData: '#ececec',
          },
          labels: {
//            format: function (v, id) { return "Default Format on " + id; },
            format: {
              value: function (d) { return d; },
            }
        }
        },
        legend: {
          position: 'bottom',
          format: {
              value: function (d) { return d; },
            }
        },
        size: {
          height: 270
        },
//      donut: {
//        label: {
//              show: true
//                format: function (value, ratio, id) {
//                  return (value);
//                }
//          },
//          title: "62",
//          width: 38
//      },
        color: {
          pattern: calltracker_charts_style
        },
        tooltip: {
          format: {
              value: function (d) { return d; },
  //            value: d3.format(',') // apply this format to both y and y2
          },
        } 
      });
      var label = d3.select('#donutcallstatus text.c3-chart-arcs-title');
          label.html(''); // remove existant text
          label.insert('tspan').text('389').attr('dy', 0).attr('x', 0).attr('class','donut-xl-font');
          label.insert('tspan').text('Calls').attr('dy', 20).attr('x', 0);
    })();
</script>
<script type="text/javascript">
$(document).ready(function(){
  $('#all-calls').DataTable({
  	"dom": 'lCfrtip',
  	"order": [],
  	"colVis": {
  		"buttonText": "Columns",
  		"overlayFade": 0,
  		"align": "right"
  	},
  	"language": {
  		"lengthMenu": '_MENU_ entries per page',
  		"search": '<i class="md md-search"></i> ',
  		"paginate": {
  			"previous": '<i class="md md-keyboard-arrow-left"></i>',
  			"next": '<i class="md md-keyboard-arrow-right"></i>'
  		}
  	}
  });
});
</script>
</body>
</html>