---
title: Features
layout: base
---

{% assign sorted_features = site.features | sort: 'order' %}
{% include header.html %}
<div class="content">
<section class="bg-primary-color integrations-header">
	<div class="container">
		<div class="row">
  		<div class="col-md-12 m-t-20">
  			<h4>{{ page.title }}</h4>
  			<p class="lead">Powerful features that make tracking calls a breeze.</p>
  		</div>
  	</div>
	</div>
</section>
<section>
  <div class="container">
  	<div class="row">
		{% for feature in sorted_features %}
		 <div class="col-md-4 col-sm-6 col-xs-12 features-item">
		 	<a href="{{ feature.url }}" class="">
                <div class="features-icon">
                    <i class="material-icons">{{ feature.icon }}</i>
                </div>
		 		<h5 class="">{{ feature.title }}</h5>
		 		<p class="">{{ feature.excerpt }}</p>
		 	</a>
		 </div>
		{% endfor %}
  	</div>
</div>
</section>
</div>
{% include footer.html %}
{% include javascript.html %}
</body>
</html>
