---
layout: base
title:  'Future home of calltracker.io'
---
{% include header.html %}
<div class="content">
<section>
	<div class="container">
		<div class="row p-t-20 p-b-20">
			<div class="col-md-12 text-center">
					<h2>Grow your business with calltracker.io</h2>
					<p class="lead">
					  This is the start of the calltracker.io website.
					</p>
					<p><a href="#" class="btn btn-primary">Sign Up for the Beta</a></p>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<p>Test</p>
			</div>
			<div class="col-md-6">
				<p>Test</p>
			</div>
		</div>
	</div>
</section>
</div>	
{% include footer.html %}
{% include javascript.html %}
</body>
</html>