---
layout: base
title:  'Call Tracking, Phone Call Analytics by Call Tracker'
sitemap: false
---
{% include header.html %}
<div class="content">
<section>
	<div class="container">
		<div class="row p-b-30">
			<div class="col-md-12 text-center">
					<h2>Insights for What Makes Your Phone Ring</h2>
					<p class="lead">Grow your business with {{ site.name }}</p>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel">
					<div class="panel-body p-30">
					<h4 class="text-center">Sign Up for the Beta</h4>
					<form action="http://calltracker.createsend.com/t/i/s/jtitij/" method="post" id="subForm" class="form">
					    <div class="form-group">
					        <label for="fieldName">Your Name</label><br />
					        <input class="form-control input-lg" id="fieldName" name="cm-name" type="text" />
					    </div>
					    <div class="form-group">
					        <label for="fieldEmail">Your Email</label><br />
					        <input class="form-control input-lg" id="fieldEmail" name="cm-jtitij-jtitij" type="email" required />
					    </div>
					    <div class="form-group">
					        <button type="submit" class="btn btn-primary btn-block">Get Notified</button>
					    </div>
					</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row p-t-60 p-b-60">
			<div class="col-md-12 text-center">
					<h3>Features You Need</h3>
					<p class="lead">We've built best in class call tracking that you're team is going to love.</p>
			</div>
			<div class="col-md-6">
				<div class="row m-t-20">
					<div class="col-md-12">
						<i class="md-public md-6x pull-left"></i>
						<h4>US, Canada, & UK</h4>
						<p>We've partnered with an industry leading VoIP provider to bring access to phone numbers in the United States, Canada, and the United Kingdom.</p>
					</div>
				</div>
				<div class="row m-t-20">
					<div class="col-md-12">
						<i class="md-av-timer md-6x pull-left"></i>
						<h4>Instant Setup & Number Provisioning</h4>
						<p>Automatically setup your tracking phone numbers for different marketing campaigns as needed. No more wait times for phone numbers to get setup.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row m-t-20">
					<div class="col-md-12">
						<i class="md-mic-none md-6x pull-left"></i>
						<h4>Call Recording</h4>
						<p>Never worry about taking notes during a sales call again. Call Tracker can record all of your phone calls for you to playback later..</p>
					</div>
				</div>
				<div class="row m-t-20">
					<div class="col-md-12">
						<i class="md-business md-6x pull-left"></i>
						<h4>Whitelabel for Agencies</h4>
						<p>Run a marketing agency and need call tracking for your clients? Look no further, Call Tracker can be re-branded for your business.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
			<div class="row m-t-30 m-b-30">
				<div class="col-md-12 text-center">
					<h3>Platform Partners</h3>
					<p class="lead">We've partnered with industry leaders to bring enterprise level call tracking to our customers</p>
				</div>
			</div>
		</div>
</section>
</div>	
{% include footer.html %}
{% include javascript.html %}
</body>
</html>