---
layout: base
title: 'Integrations'
---
{% include header.html %}
<div class="content">
<section class="bg-primary-color integrations-header">
	<div class="container">
		<div class="row">
  		<div class="col-md-12">
  			<h4>Integrations Directory</h4>
  			<p class="lead">Powerful integrations that help you and your team track your calls.</p>
  		</div>
  	</div>
	</div>
</section>
<section>
  <div class="container">
  	<div class="row">
		{% for integration in site.integrations %}
		 <div class="integration-listing-item">
		 	<a href="{{ integration.url }}" class="integration-listing-item-link">
		 		<img class="integration-grid-img" src="{{ integration.image }}">
		 		<h3 class="integration-listing-item-header">{{ integration.title }}</h3>
		 		<p class="integration-listing-item-excerpt">{{ integration.excerpt }}</p>
		 	</a>
		 </div>
		{% endfor %}
  	</div>
</div>
</section>
</div>
{% include footer.html %}
{% include javascript.html %}
</body>
</html>