---
layout: base
title:  'Call Tracking, Phone Call Analytics by Call Tracker '
sitemap: false
---
{% include header-end-user.html %}
<div class="content">
	<div class="container">
      <div class="row p-b-100 m-t-20">
        <div class="col-md-8">
					<div class="panel">
						<div class="panel-heading">
							<h5>Keyword Pool Number Allocation</h5>
						</div>
						<div class="panel-body">
							<table class="table table-hover table-condensed" id="all-calls" width="100%">
		              <thead>
		                  <tr>
		                      <th >
		                         Number
		                      </th>
		                      <th>
		                        Last Active
		                      </th>
		                      <th>
		                          Source
		                      </th>
		                      <th>
		                          Keyword
		                      </th>
		                  </tr>
		              </thead>
		              <tbody>
											<tr>
												<td>(855) 997-2759</td>
												<td>8 minutes ago</td>
												<td>Email</td>
												<td>--</td>
											</tr>
											<tr>
												<td>(855) 997-2759</td>
												<td>20 minutes ago</td>
												<td>Organic</td>
												<td>(not provided)</td>
											</tr>
											<tr>
												<td>(855) 997-2759</td>
												<td>22 minutes ago</td>
												<td>Organic</td>
												<td>(not provided)</td>
											</tr>
											<tr>
												<td>(855) 997-2655</td>
												<td>31 minutes ago</td>
												<td>Organic</td>
												<td>(not provided)</td>
											</tr>
											<tr>
												<td>(855) 997-2655</td>
												<td>32 minutes ago</td>
												<td>Organic</td>
												<td>(not provided)</td>
											</tr>
											<tr>
												<td>(855) 997-2759</td>
												<td>47 minutes ago</td>
												<td>Email</td>
												<td>--</td>
											</tr>
		              </tbody>
		          </table>
						</div>
					</div>
        </div>
				<div class="col-md-4">
					<div class="well">
						<h5>Number Allocation Table</h5>
						<p>This table shows how your pooled phone numbers are assigned to visitors at any given point in time, it does not show incoming calls.</p>
						<p>When a call is received, that incoming call will be correlated to the specific visitor/keyword/source listed on this Number Allocation
							Table at that moment.</p>
						<p>This table can also be used as a diagnostic tool to ensure that your phone numbers are not being recycled too rapidly.
							For example, if every visitor was active within the last 5 minutes, that would suggest that the phone number pool is too small.</p>
					</div>
				</div>
      </div>

		</div>
	</div>
</div>
{% include javascript.html %}
<script type="text/javascript">
$(function() {
    $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
    $('#reportrange').daterangepicker({
        format: 'MM/DD/YYYY',
        startDate: moment().subtract(29, 'days'),
        endDate: moment(),
        minDate: '01/01/2012',
        maxDate: '12/31/2015',
        dateLimit: { days: 60 },
        showDropdowns: true,
        showWeekNumbers: true,
        timePicker: false,
        timePickerIncrement: 1,
        timePicker12Hour: true,
        ranges: {
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'Last 6 Months': [moment().subtract(179, 'days'), moment()],
           'Last Year': [moment().subtract(365, 'days'), moment()],
        },
        opens: 'left',
        drops: 'down',
        buttonClasses: ['btn', 'btn-sm'],
        applyClass: 'btn-primary',
        cancelClass: 'btn-default',
        separator: ' to ',
        locale: {
            applyLabel: 'Submit',
            cancelLabel: 'Cancel',
            fromLabel: 'From',
            toLabel: 'To',
            customRangeLabel: 'Custom',
            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            firstDay: 1
        }
    }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    });

});
</script>
</body>
</html>
