<section class="">
	<div class="container">
		<hr class="m-t-20">
		<div class="row p-t-20 p-b-20">
			<div class="col-md-8 col-md-offset-2">
				<h4 class="text-center">Frequently Asked Questions</h4>
				<p class="lead text-center">You have questions, we've got answers.</p>

				<h5>How does Call Tracker work?</h5>
				<p>With Call Tracker, you'll purchase phone numbers that forward to your phone number. When someone calls a tracking number, we gather data about where the call in the background while you answer the call just like normal.</p>

				<h5>Do Toll-free and Local Numbers cost the same?</h5>
				<p>Yes! We charge the same for toll-free and local numbers and the same for minutes. No need for a fancy algorthim to decode your bill with us.</p>

				<h5>If I have multiple clients can I create user accounts for them too?</h5>
				<p>Yes! You're able to create company specific users that can only access data within that company. This will allow you to easily share call reporting data and also setup call notifications for these users.</p>

				<h5>Does the Agency version cost extra?</h5>
				<p>Absolutely not, our whitelabel agency features are completely free for you to enable with no extra charge. There also aren't any account minimums you need to meet, it's completely up to you to enable it or not.</p>

				<h5>How will you bill me?</h5>
				<p>Each month, we'll calculate your account usage for numbers and minutes and create an invoice accordingly. You'll only be charged for what you use.</p>
				<p class="lead m-t-20 text-center">Still have questions? <a href="/contact/">Get in touch.</a></p>
			</div>
		</div>
	</div>
</section>