<section>
	<div class="container">
		<div class="row p-t-70 p-b-70">
			<div class="col-md-8 col-md-offset-2">
				<h3>Every account comes with these great features</h3>
				<div class="row m-t-30">
					<div class="col-md-6">
						<ul class="list-unstyled lead">
							<li><i class="md md-check text-success bold"></i> No Contract & Free Setup Assistance</li>
							<li><i class="md md-check text-success bold"></i> No Account Minimums</li>
							<li><i class="md md-check text-success bold"></i> Unlimited Companies for Agencies</li>
							<li><i class="md md-check text-success bold"></i> Unlimited Users</li>
							<li><i class="md md-check text-success bold"></i> Keyword Level Tracking Number Pools</li>
							<li><i class="md md-check text-success bold"></i> Campaign Tracking Numbers</li>
							<li><i class="md md-check text-success bold"></i> Offline Tracking Numbers</li>
							
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="list-unstyled lead">
							<li><i class="md md-check text-success bold"></i> Numbers in USA, Canada, UK, & AUS</li>
							<li><i class="md md-check text-success bold"></i> Dynamic Number Replacement</li>
							<li><i class="md md-check text-success bold"></i> Detailed Call Analytics</li>
							<li><i class="md md-check text-success bold"></i> Call Block Lists</li>
							<li><i class="md md-check text-success bold"></i> Call Recodings</li>
							<li><i class="md md-check text-success bold"></i> Email Notifications</li>
							<li><i class="md md-check text-success bold"></i> Dashboard Branding for Agencies</li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>