<section>
	<div class="container">
		<div class="row p-t-30 p-b-30">
			<div class="col-md-8 col-md-offset-2">
				<h5 class="text-center m-40">Every account comes with these great features</h5>
				<div class="row m-t-30">
					<div class="col-md-6">
						<ul class="list-unstyled features-list">
							<li><i class="material-icons text-success">check</i> No Contract & Free Setup Assistance</li>
							<li><i class="material-icons text-success">check</i> No Account Minimums</li>
							<li><i class="material-icons text-success">check</i> Unlimited Companies for Agencies</li>
							<li><i class="material-icons text-success">check</i> Unlimited Users</li>
							<li><i class="material-icons text-success">check</i> Keyword Level Tracking Number Pools</li>
							<li><i class="material-icons text-success">check</i> Campaign Tracking Numbers</li>
							<li><i class="material-icons text-success">check</i> Powerful Integrations</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="list-unstyled features-list">
							<li><i class="material-icons text-success">check</i> Numbers in USA & Canada</li>
							<li><i class="material-icons text-success">check</i> Dynamic Number Replacement</li>
							<li><i class="material-icons text-success">check</i> Detailed Call Analytics</li>
							<li><i class="material-icons text-success">check</i> Call Block Lists</li>
							<li><i class="material-icons text-success">check</i> Call Recordings</li>
							<li><i class="material-icons text-success">check</i> Email Notifications</li>
							<li><i class="material-icons text-success">check</i> Dashboard Branding for Agencies</li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>