<footer class="footer">
<!--Nothing Here Yet -->
<div class="container">
	<hr>
	<div class="row m-t-50 m-b-50">
		<div class="col-md-12 text-center">
			<h5>Sign Up for a <strong>free</strong> account to get started</h5>
			<p class="lead">Join data-driven companies tracking calls.</p>
			<p><a href="https://app.calltracker.io/signup/" class="btn btn-lg btn-success">Get Started Today</a></p>
		</div>
	</div>
</div>
<div class="container">
	<hr>
	<div class="row m-t-20">
		<div class="col-md-12">
			<p class="pull-right"><a href="/terms">Terms & Conditions</a> | <a href="/privacy">Privacy Policy</a></p>
			<p>&copy;{{ site.time | date: '%Y' }} {{ site.name }} LLC </p>
		</div>
	</div>
</div>
</footer>