<div class="container">
	<div class="row m-t-50 m-b-50">
		<div class="col-md-12 text-center">
			<h5>Join other data-driven companies tracking calls</h5>
			<p class="lead"> to improve their marketing ROI.</p>
			<p><a href="https://app.calltracker.io/login/google-oauth2/" class="btn btn-lg btn-primary">Log In with Google</a></p>
		</div>
	</div>
</div>
<footer class="footer">
	<div class="container">
		<hr>
		<div class="row">
			<div class="col-md-9 col-md-offset-2">
				<div class="row m-b-20">
					<div class="col-md-3">
						<h5>Call Tracker</h5>
						<ul class="list-unstyled footer-link-list">
							<li><a href="https://calltracker.io">Introduction</a></li>
							<li><a href="/pricing/">Pricing</a></li>
							<li><a href="/integrations/">Integrations</a></li>
							<li><a href="/agencies/">Agencies</a></li>
						</ul>
					
					</div>
					<div class="col-md-3">
						<h5>Company</h5>
						<ul class="list-unstyled footer-link-list">
							<li><a href="/blog/">Blog</a></li>
							<li><a href="/contact/">Contact</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<h5>Help & Support</h5>
						<ul class="list-unstyled footer-link-list">
							<li><a href="https://app.calltracker.io/help/">Help Desk</a></li>
							<li><a href="mailto:help@calltracker.io">Support</a></li>
						</ul>
					</div>
					<div class="col-md-3">
						<h5>Social</h5>
						<ul class="list-unstyled footer-link-list">
							<li><a href="https://www.facebook.com/calltrackerio/" target="_blank">Facebook</a></li>
							<li><a href="https://twitter.com/calltrackerio" target="_blank">Twitter</a></li>
							<li><a href="https://github.com/calltracker" target="_blank">Github</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row m-t-20">
			<div class="col-md-12 text-center license-terms">
				<p>&copy;{{ site.time | date: '%Y' }} {{ site.name }} LLC &middot; <a href="/terms">Terms & Conditions</a> &middot; <a href="/privacy">Privacy Policy</a></p>
			</div>
		</div>
	</div>
</footer>