<footer class="footer">
<!--Nothing Here Yet -->
<div class="container">
	<div class="row m-t-50 m-b-50">
		<div class="col-md-6">
			<a class="navbar-brand" href="/">
		        <img class="img-responsive pull-left" src="images/calltrackerio-logo-vertical_03.png">
		        <p class="p-t-10">{{site.name}}</p>
		     </a>
		</div>
		<div class="col-md-6">
			<p class="text-uppercase bold">About Calltracker</p>
			<ul class="list-inline">
				<li><a href="#">About Us</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Terms & Conditions</a></li>
				<li><a href="#">Privacy Policy</a></li>
			</ul>
		</div>
	</div>
</div>
</footer>