<!-- JS -->
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/jquery.dataTables.bootstrap.min.js"></script>
<script src="js/d3.min.js"></script>
<script src="js/c3.min.js"></script>
<script type="text/javascript">
//fixed top sub-nav
$(window).scroll(function() {    
    var scroll = $(window).scrollTop();
    if (scroll >= 50) {
        $(".sub-nav").addClass("navbar-fixed-top");
    } else {
    	$(".sub-nav").removeClass("navbar-fixed-top");
    }
});
</script>
<script type="text/javascript">

</script>