<!-- JS -->
<script type="text/javascript" src="/js/main_bundle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.9/typed.min.js"></script>
<script type="text/javascript" src="https://dni.calltracker.io/trackers/94240981abf74bdf85dfd99f8b3dc3eb/tracker.js"></script>
<script>
function checkRecaptcha() {
    res = $('#g-recaptcha-response').val();
    if (res == "" || res == undefined || res.length == 0)
        return false;
    else
        return true;
}

$('#contactForm').submit(function(e) {
    if(!checkRecaptcha()) {
        $( "#g-recaptcha" ).text("Please validate your reCAPTCHA.");
        return false;
    }
});
</script>
