<div id="navbar" class="collapse navbar-collapse">
  <a href="https://app.calltracker.io/login/" class="btn btn-inverse pull-right btn-sm m-t-20 m-l-10">Login</a>
  <a href="https://app.calltracker.io/signup/" class="btn btn-default pull-right btn-sm m-t-20">Risk Free Trial</a>
	<ul class="nav navbar-nav">
		<li><a href="/pricing/">Pricing</a></li>
		<li><a href="/integrations/">Integrations</a></li>
		<li><a href="/agencies/">Agencies</a></li>
		<li><a href="/blog/">Blog</a></li>
		<li><a href="/contact/">Contact</a></li>
		<li><a href="https://app.calltracker.io/help/">Support</a></li>
	</ul>
</div>
