<section class="">
	<div class="container">
		<div class="row p-t-20 p-b-20">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h3>Simple, Straight Forward Pricing</h3>
				<p class="lead">No account minimums, only pay for what you use.</p>
				<div class="row">
					<div class="col-md-4 col-md-offset-2 text-center">
						<i class="material-icons price-plus">add</i>
						<div class="price">
							<span class="dollar">&dollar;</span>
							<span class="figure text-primary">4</span>
							<span class="month">/month</span>
						</div>
						<p class="bold">Per Number</p>
					</div>
					<div class="col-md-4 text-center">
						<div class="price">
							<span class="figure text-primary">4</span>
							<span class="cent">&cent;</span>
						</div>
						<p class="bold">Per Minute</p>
					</div>
				</div>
				<p class="lead m-t-20">Have high volume requirements? <a href="/contact/">Contact Us</a></p>
			</div>
		</div>
	</div>
</section>