<section class="">
	<div class="container">
		<div class="row p-t-20 p-b-20">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h3>Simple, Straight Forward Pricing</h3>
				<p class="">No account minimums, only pay for what you use.</p>
				<div class="row">
					<div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-6 text-center m-20">
						<div class="panel">
                            <div class="panel-body price">
                                <span class="figure">4</span>
                                <span class="cent">&dollar;</span>
                                <p class="price-interval">Per Number / Month</p>
                            </div>
						</div>
					</div>
					<div class="col-md-5 col-sm-5 col-xs-6 text-center m-20">
						<div class="panel">
                            <div class="panel-body price">
                                <span class="figure">4</span>
                                <span class="cent">&cent;</span>
                                <p class="price-interval">Per Minute</p>
                            </div>
						</div>
					</div>
				</div>
				<p class="m-t-20">SMS Messaging available at 4&cent; per message.</p>
				<p class="m-t-20">Have high volume requirements? <a href="/contact/">Contact Us</a></p>
			</div>
		</div>
	</div>
</section>
