<section class="">
	<div class="container">
		<div class="row p-t-20 p-b-20">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h3>Simple, Straight Forward Pricing</h3>
				<p class="lead">No account minimums, only pay for what you use.</p>
				<div class="row p-t-20">
					<div class="col-md-6 text-center">
						<div class="well">
							<p class="lead">Toll Free & Local Numbers</p>
							<h1>$4 <small>per month</small></h1>
						</div>
					</div>
					<div class="col-md-6 text-center">
						<div class="well">
							<p class="lead">Minutes</p>
							<h1>4&cent; <small>per minute</small></h1>
						</div>
					</div>
				</div>
				<p class="lead">Have high volume requirements? <a href="/contact/">Contact Us</a></p>
			</div>
		</div>
	</div>
</section>