<div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs border-bottom-grey" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">John's Computer's</a></li>
          <li role="presentation"><a href="#numbers" aria-controls="profile" role="tab" data-toggle="tab">Tracking Numbers</a></li>
          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
            Reports <span class="caret"></span>
          </a>
	          <ul class="dropdown-menu">
	          	<li><a href="#dropdown1">Calls by Hour</a></li>
	            <li><a href="/report-source-channel/">Calls by Web Channel</a></li>
	            <li><a href="#dropdown1">Missed Calls</a></li>
	          </ul>
        	</li>
          <li class="pull-right" role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
        </ul>
      </div>
    </div>