---

---
<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
<link rel="icon" type="image/png" href="/images/favicon/favicon-96x96.png">
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes"/>
<title>{{ page.title }} - {{ site.title }}</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/style.css" >
{% assign author = site.authors[page.author] %}
{% if author.googleplus %}
<!-- Link to the authors Google page. -->
<link rel="author" href="{{ author.googleplus }}?rel=author" />
{% endif %}
<!-- Google Analytics Tracking -->
<!-- Hotjar Tracking Code for calltracker.io -->
</head>
<body>
{{ content }}
