---
layout: base
---

{% include header.html %}
<div class="content">
<section class="bg-primary-color integrations-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12 m-t-20">
        <h4><a href="/features"><i class="material-icons md-32">chevron_left</i> Features
        </a></h4>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <article class="post col-md-8 col-md-offset-2 m-t-30">
        <h3 class="bold post-title text-center">{{ page.title }}</h3>
        <p class="lead text-center">{{ page.excerpt }}</p>
        <img src="{{ page.image }}" class="img-responsive" alt="{{ page.title }}"/>
        <div class="m-t-60">
          {{ content }}
        </div>
      </article>
    </div>
  </div>
</section>
</div>
{% include footer.html %}
{% include javascript.html %}
</body>
</html>
