---
layout: base
---
{% include header.html %}
<div class="content">
<section class="bg-primary-color integrations-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12 m-t-20">
        <h4><a href="/integrations"><i class="material-icons md-36">chevron_left</i> Integrations
        </a></h4>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
  <article class="post col-md-9">
    <div class="integration-details-title clearfix p-b-20 m-b-20">
      <img class="integration-details-img pull-left m-r-20" src="{{ page.image }}" alt="call tracker {{ page.title }} integration" />
      <h4 class="post-title">{{ page.title }}</h4>
      <p class="lead">{{ page.excerpt }}</p>
    </div>
    <div class="content">
      {{ content }}
    </div>
  </article>
  <div class="col-md-3">
    {% if page.more_info %}
      {{ page.more_info }}
    {% endif %}
  </div>
</section>
</div>
{% include footer.html %}
{% include ouibounce.html %}
{% include javascript.html %}
</body>
</html>