---
layout: base
---
{% include header-no-nav.html %}
<div class="content">
<section>
  <div class="container">
  <article class="post col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-12">
        <img src="{{ page.image }}" />
      </div>
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
    <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
    {{ content }}
  </article>
  </div>
</section>  
</div>
{% include footer.html %}
{% include javascript.html %}
</body>
</html>